/*Universal Styles*/

*{

    font-size: 16px;

}

/* Navigation Bar*/

section{
    position: fixed;
    z-index: 2;
    background-color: rgb(32, 0, 238);
    width: 100%;
    height: 70px;
    font-family:'Courier New', Courier, monospace;
   
}

.bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 10px;
}

.bar p{
    padding-left: 50px;
    color: azure;
   
}

ul li{
    list-style: none;
    display: inline;
    padding-right: 20px;
    color: azure;
}

@media only screen and (min-width:320px) and (max-width: 800px){
   section{
    height: 80px;
   }
   
    .bar{
    display: flex;
    justify-content: center;
   }
   
    .bar p{
    font-size: 1.5rem;
   }

   ul li{
    display: none;
   }
    }

/* Header*/

header{
    width: 100%;
    height: 800px;
    padding-top:100px ;
    background-image: url(../ressources/thumbnail_411126311.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(192, 192, 192);
    display: flex;
    align-items:center;
    justify-content: left;
    font-family:'Courier New', Courier, monospace;
}

.top{
    background-color: azure;
    margin: 50px;
    width: 150px;
    padding: 20px 50px;
    text-align: center;
    color: black;
    word-wrap:normal;
   
}

.button{
    color: azure;
    background-color: rgb(13, 0, 255);
    padding: 1px 10px;
    width: 100px;
    height: 50px;
    margin-left: 110px;
    border-radius: 10px;
    text-align: center;
    
}

@media only screen and (min-width:320px) and (max-width: 800px){
    header{
        height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .top{
        margin: 0 0 0 0;
        width: 100%;
        background: none;
        background-color: rgba(86, 86, 86, 0.79);
        

    }
    .top h1{
        display: none;
    }
    .top h2{
        font-size: 2rem;
        color: rgb(13, 0, 255);
    }

    .button{
        display:none;
    }
}

/* process*/

.strategy-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 300px;
    background-color:  rgb(13, 0, 255);
}

.strategy-container img{
    height: 300px;
    width: 200px;
    object-fit:cover;
    
    /* border-radius: 300px; */
   
}

.strategy-container figcaption{
    color: azure;
    padding-top: 1rem;
    padding-bottom: 20px;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

@media only screen and (min-width:320px) and (max-width: 800px){
    .strategy-container{
        height: 1200px;
        display: flex;
        justify-content: left ;
        align-content: space-evenly;
        flex-wrap: wrap;
        ;
       
    
    }

    .strategy-container img{
        height: 200px;
        width: 350px;
        
    }
    .strategy-container figcaption{
        font-size: 1rem;
        text-align: right;
    }
}

/* Quote*/

.quote{
    background-color:rgb(192, 192, 192);
    height: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Courier New', Courier, monospace;
}

@media only screen and (min-width:320px) and (max-width: 800px){
    .quote{
        
        text-align: center;
        padding: 3px;
    }

    .quote p{
        font-size: 1.5rem;
    }
}



/* Gallery*/

.gallery{
    height: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    
}

.text-field{
    text-align: center;
    padding-top: 20px;
    color: seashell;
    font-family:'Courier New', Courier, monospace;
    
}

.slider{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    height: 200px;
     padding-top: 20px;
    background-color: blue;  font-family:'Courier New', Courier, monospace;

}

.slider p{
    background-color: seashell;
    padding: 1rem;
    margin: 2rem;
    height: 3rem;
    text-align: center;
    font-size: 3rem;
    border-radius: 20px;

}

@media only screen and (min-width:320px) and (max-width: 800px){
    .gallery{
        display: flex;
        justify-content: center;
    }
    .text-field{
        padding: 10px 20px 10px 20px;
    }

    .slider{
        height: 600px;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .slider p{
        font-size: 2rem;
    }
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-us{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 10px;
    font-size: 2rem;

}

.arrow{
    border: solid black;
    border-width: 0rem 0rem 0.5rem 0.5rem;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5rem;
    padding:30px;
    
    transform: rotate(-45deg)
  }

  

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color:blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: blue;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color:black;
    padding: 100px;
  }